@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	color: #9b9a9a;
}

body {
	box-sizing: border-box;
	position: relative;
}

header nav {
	height: 100px;
	width: 100% vw;
	padding-left: 100px;
	padding-right: 100px;
}

nav ul {
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 50px;
}

ul li {
	font-size: 25px;
}

ul li:hover {
	color: #0b9248;
	cursor: pointer;
}

ul li:first-child {
	border-right: solid #9b9a9a 3px;
	padding-right: 50px;
}

main {
	width: 100% vw;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
}
main div {
	width: 50%;
}

main div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px 0 20px;
}

main img#logo {
	padding: 50px 80px 0 80px;
}

main p {
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: justify;
}

main form {
	width: 100%;
	margin: 0;
	display: flex;
	margin-top: 60px;
	margin-bottom: 60px;
}

form input {
	width: 75%;
	margin: 0;
	height: 60px;
	margin: 0;
	height: 60px;
	padding: 0 0;
	border: none;
	border: 2px solid #9b9a9a;
	border-radius: 15px 0px 0px 15px;
	font-size: 25px;
	padding-left: 25px;
}

form input:focus {
	outline: none;
}

form button {
	width: 25%;
	margin: 0;
	height: 64px;
	padding: 0 0;
	background: #0d6d38;
	border: none;
	font-size: 25px;
	color: white;
	border-radius: 0 15px 15px 0;
}

form button:hover {
	background: #0b9248;
	cursor: pointer;
}

::placeholder {
	font-size: 25px;
	color: #e2e2e2;
}

#slide img {
	position: absolute;
}

#slide img:nth-of-type(1) {
	animation-name: fader;
	animation-delay: 4s;
	animation-duration: 1s;
	z-index: 20;
}

#slide img:nth-of-type(2) {
	z-index: 10;
}
#slide img:nth-of-type(n + 3) {
	display: none;
}

@keyframes fader {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.arrow-down-button {
	border: none;
	background-color: #0d6d38;
	height: 70px;
	width: 70px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	position: absolute;
	bottom: 4.5%;
	right: 3%;
	z-index: 100;
}

.arrow-down-button:hover {
	background-color: #0b9248;
	cursor: pointer;
}

.arrow-down-button img {
	width: 60%;
	margin-top: 5px;
}
